body {
    margin: 0px auto 0px auto;
    padding: 0px 2em 0px 2em;
    max-width: 50em;
}

@media ( max-width: 38em ), ( max-device-width: 38em ) {
    body {
        margin: 0px;
        padding: 0px 1em 0px 1em;
    }
}

a {
    text-decoration: none;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
    font-size: 115%;
    font-weight: bold;
}

div#logo a {
    color: inherit;
    float: left;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: inherit;
    margin-left: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 75%;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 125%;
}

div.info {
    color: #555;
    font-size: 85%;
    font-style: italic;
}

div.blogpost {

}

div.blogpost a {
    color: inherit;
    text-decoration: none;
}
