<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$ | Vladimír Štill</title>

        <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
        <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/gallerie.css" />

        <script src="/script/jquery-1.9.1.min.js"></script>
        <script src="/script/jquery.gallerie.js"></script>
        <script src="/script/run-gallery.js"></script>
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">Vladimír Štill</a>
            </div>
            <div id="navigation">
                <a href="/blog.html">Blog</a>
                <a href="/tags.html">Témata</a>
                <a href="/">O mě</a>
            </div>
        </div>

        <div id="content">
            $if(hidetitle)$ $else$
            <h1>$title$</h1>
            $endif$

            $body$
        </div>
        <div id="footer">
            <div id="feeds">
                <a href="/rss.xml">RSS</a>, <a href="/atom.xml">Atom</a>
            </div>
            <div id="generated">
                Web generovaný nástrojem
                <a href="http://jaspervdj.be/hakyll">Hakyll</a>,
                zdrojový kód webu je na <a href="https://github.com/vlstill/blog">GitHubu</a>
                <br />
                © Vladimír Štill, $years$
            </div>
        </div>
    </body>
</html>
