<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$ | Vladimír Štill</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
        <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">Vladimír Štill</a>
            </div>
            <div id="navigation">
                <a href="/blog.html">Blog</a>
                <a href="/">O mě</a>
            </div>
        </div>

        <div id="content">
            $body$
        </div>
        <div id="footer">
            Web generovaný nástrojem
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>,
            zdrojový kód webu na <a href="https://github.com/vlstill/blog">GitHubu</a>
        </div>
    </body>
</html>
