<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$ | Vladimír Štill</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">Vladimír Štill</a>
            </div>
            <div id="navigation">
                <a href="/blog.html">Blog</a>
                <a href="/about.html">O mě</a>
                <a href="/archive.html">Archiv</a>
            </div>
        </div>

        <div id="content">
            <h1>$title$</h1>

            $body$
        </div>
        <div id="footer">
            Web generovaný nástrojem
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>,
            zdrojový kód webu na <a href="https://github.com/vlstill/blog">GitHubu</a>
        </div>
    </body>
</html>
